[alias]
	aliases = config --get-regexp alias

	amend = commit --amend --reuse-message=HEAD

	a = add
	aa = add -A
	ap = add -p
	an = add -N .
	c = commit
	conflict = mergetool
	cc = checkout
	ccm = checkout master
	ccb = checkout -b
	cf = clean -f
	cp = checkout -p
	d = diff
	dc = diff --cached
	fo = fetch origin
	group = shortlog -s -n
	l = log --decorate
	lo = log --oneline --decorate
	ma = merge --abort
	p = push origin HEAD
	pf = push origin HEAD --force-with-lease
	pff = push origin HEAD --force
	po = pull origin HEAD
	por = pull origin HEAD --rebase
	prune = pull --prune
	r = reset
	ra = rebase --abort
	rbi = rebase -i --preserve-merges
	rc = rebase --continue
	rename = commit --amend
	rh = reset --hard origin/HEAD
	rs = rebase --skip
	s = status
	sa = stash apply
	sc = stash clear
	sl = stash list
	sp = stash pop
	st = stash
[user]
	email = matheusvellone@hotmail.com
	name = Matheus Peviani Vellone
[commit]
	gpgsign = true
[core]
	editor = nvim
[merge]
	tool = vscode
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
