[alias]
	aliases = config --get-regexp alias

	amend = commit --amend --reuse-message=HEAD

	s = status
	a = add
	l = log
	ap = add -p
	cp = checkout -p
	p = push origin HEAD
	pf = push origin HEAD --force-with-lease
	po = pull origin HEAD
	por = pull origin HEAD --rebase
	aa = add -A
[user]
	email = matheusvellone@hotmail.com
	name = Matheus Peviani Vellone
[commit]
	gpgsign = true
[core]
	editor = nvim
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
