[alias]
	# List aliases
	aliases = config --get-regexp alias

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# View the current working tree status using the short format
	s = status -s

	a = add
[user]
	email = matheusvellone@hotmail.com
	name = Matheus Peviani Vellone
[commit]
	gpgsign = true
[core]
	editor = vim
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
